/* 
    1. Global CSS
    2. Header CSS
        2_1. global header css
        2_2. logo css
        2_3. nav css
        2_4. dropdown css
        2_5. header button css
    
*/




/* ==================================1. Start Global CSS================================== */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #dddddd;
    background-color: #0f0715;
}

.container {
    padding-inline: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}


/* ===================================1. end Global CSS=================================== */


/* *************************************************************************************** */


/* ==================================1. Start Header CSS================================== */


/* ------------------------------2_1. start global header css----------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f0715;
    padding-block: 2rem .93rem;
}

/* -------------------------------2_1. end global header css------------------------------ */


/* ----------------------------------2_2. start logo css---------------------------------- */
header .logo {
    display: flex;
    align-items: center;
    gap: .75rem
}

header .logo img {
    width: 3.5rem;
}

header .box-link-logo a {
    font-size: .93rem;
    font-weight: 600;
}

/* -----------------------------------2_2. end logo css----------------------------------- */


/* -----------------------------------2_3. start nav css---------------------------------- */
nav,
nav ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

nav ul li a {
    font-size: .93rem;
    font-weight: 600;
    text-transform: capitalize;
}

nav ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #8750f7, #2a1454);
    transition: .3s;
}

nav>ul>li.active::after,
nav>ul>li:hover::after {
    width: 100%;
}

nav>ul>li .icon-nav-plus {
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}

nav>ul>li .icon-nav-minus {
    color: #fff;
    font-size: .7rem;
    font-weight: 600;
    display: none;
}

.dropdown:hover .icon-nav-plus {
    display: none;
}

.dropdown:hover .icon-nav-minus {
    display: inline;
}

/* ------------------------------------2_3. end nav css----------------------------------- */


/* ---------------------------------2_4. start dropdown css-------------------------------- */
.dropdown-content {
    position: absolute;
    width: 200px;
    flex-direction: column;
    align-items: start;
    gap: .1rem;
    top: 95px;
    left: 67%;
    box-shadow: 0 30px 30px#8850f734;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.dropdown-content>li {
    width: 100%;
}

.dropdown-content>li>a {
    display: flex;
    padding: 1.2rem 1.5rem;
    background: #000;
    text-transform: capitalize;
    transition: .3s;
}

.dropdown-content>li>a:hover {
    color: #8750f7;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

/* ----------------------------------2_4. end dropdown css--------------------------------- */


/* ------------------------------2_5. start header button css------------------------------ */
.header-btn {
    padding: 1.01rem 2.18rem;
    font-size: .93rem;
    font-weight: 800;
    text-transform: capitalize;
    border-radius: 40px;
    border: none;
    background: #2a1454;
    color: #fff;
    transition: 1s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.header-btn::after {
    content: "";
    width: 4rem;
    height: 100%;
    background: #8850f7c2;
    filter: blur(10px);
    position: absolute;
    left: -10%;
    top: 0;
    z-index: -1;
    transform: skew(10deg);
    transition: .6s;
}

.header-btn:hover::after {
    left: 70%;
}

.header-btn:hover {
    color: #ffffffcc;
}

/* -------------------------------2_5. end header button css------------------------------- */


/* ===================================1. end Header CSS=================================== */


/* *************************************************************************************** */